html, body, .container{ height: 100%; margin: 0; padding: 0; overflow: auto }
body{
	min-width: 320px;
	background:#FFFFFF;
}
body{
	font-family: Helvetica;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 14px;
	color: #000000;
}

a{
	color: #e5512d;
	text-decoration: underline;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover{
	color: #000000;
	background-color:#FFFF00;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

span {
	font-size: 10px;
}

table, td, th
{
	max-width: 100%;
	margin:0 auto;
	text-align:center;
	border: 1px solid green;
	padding: 5px 15px 5px 15px;
}

table {
	border: 0px;
}
th
{
	text-align:left;	
	background-color:green;
	color:white;
}

.clr {
	clear:both
}

.header {
	width:100%;
	top:0;
	height:10px;
	padding:1px 0;
	text-align:center;
	background:#FFFFFF;
	/*background:url(../images/bg-01.jpg) repeat #ee4e1d;*/
	font-family:'AmaticSCBold', Helvetica;
	font-size: 53px;
	font-weight: normal;
	word-spacing:5px;
	letter-spacing: 0px;
	line-height: 5px;
	color: #999;
} 

.container{
	max-width:100%;
	margin:0 auto;
	text-align:center;
}

.content{
	max-width:100%;
	margin:0 auto;
	text-align:center;	
	border: 2px;
	color: #e5512d;
}

.image-swap{
    margin-left: auto;
	margin-right: auto;
    height: 240px;
    width: 680px;
	background-image: url(../images/crakinscom.png);
	background-repeat: no-repeat;
}

.image-swap:hover{
	background-image:url(../images/crakinscom_yellow.png);
	background-repeat: no-repeat;
}

.copyright{
	font-family:Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align:center;
	margin-top:10px;
}
/*---- Media Queries to make design responsive ----*/

@media only screen and (max-width: 680px) and (min-width: 510px){
	.image-swap{ 
		margin-left: auto;
		margin-right: auto;
		height: 180px;
		width: 510px;
		background-image: url(../images/crakinscom_510.png); 
	}

	.image-swap:hover{ 
		margin-left: auto;
		margin-right: auto;
		height: 180px;
		width: 510px;
		background-image:url(../images/crakinscom_yellow_510.png);
	}
}

@media only screen and (max-width: 509px){
	.image-swap{ 
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 340px;
		background-image: url(../images/crakinscom_340.png); 
	}

	.image-swap:hover{ 
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 340px;
		background-image:url(../images/crakinscom_yellow_340.png);
	}
}
