<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>crakins.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="crakins.com" />
        <meta name="keywords" content="crakins" />
        <meta name="author" content="crakins" />
        <link rel="shortcut icon" href="/images/favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script type="text/javascript">
</script>
    </head>
    <body>
        <section class="container">
        	<div class="header"></div>
        	<div class="image-swap" onclick="location.href='/';" style="cursor: hand;"></div>
			<div class="content">
			  {% block content %}{% end %}
			</div>
			<div class="copyright">
				&copy; 2014 crakins.com
			</div>
        </section>
    </body>
</html>
